{%- import "macros.html" as macros -%}
<!DOCTYPE html>
<html data-theme="dark">
<head>
    <link rel="stylesheet" href="/assets/main.css">
    <!-- Simple styles - fix later -->
<!--    <link rel="stylesheet" href="https://unpkg.com/mvp.css">-->
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <div class="navbar bg-base-300 rounded-box">
        <div class="flex-1 px-2 lg:flex-none">
            <a class="text-lg font-bold" style="font-size: 40px">{% block title %}Title{% endblock %}</a>
        </div>
        <div class="flex flex-1 justify-end px-2">
            <div class="flex items-stretch">

                {% call macros::home() %}

                {% if user_id.is_none() %}
                    {% call macros::login() %}
                {% endif %}

                {% if user_id.is_some() %}
                    {% call macros::settings() %}
                {% endif %}

                {% call macros::theme_selector() %}
            </div>
        </div>
    </div>

    <div>
        {% block content %}Content{% endblock %}
    </div>
</body>
</html>
