<!DOCTYPE html>
<html>
<head>
<!--    <link rel="stylesheet" href="/assets/main.css">-->
    <!-- Simple styles - fix later -->
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <select id="language-dropdown">
        <option value="en" {% if lang == "en" %}selected{% endif %}>English</option>
        <option value="sk" {% if lang == "sk" %}selected{% endif %}>Slovak</option>
    </select>
    <a href="/login/generate-code/test@gmail.com">
        <button type="button">Login</button>
    </a>
    <script>
        document.getElementById('language-dropdown').addEventListener('change', (event) =>
            fetch(`change-language/${event.target.value}`).then(() => window.location.reload())
        )
    </script>

    <div id="header">
        <h1>{% block title %}Title{% endblock %}</h1>
    </div>
    <div id="content">
        {% block content %}Content{% endblock %}
    </div>
</body>
</html>
