{% extends "base.html" %}

{% block title %}{{ m("edit_protest") }}{% endblock %}

{% block content %}
<form action="/protests/{{ protest.id }}/edit" method="post">

    <input type="hidden" name="id" value="{{ protest.id }}">

    <label for="title">{{ m("title") }}:</label>
    <input type="text" id="title" name="title" value="{{ protest.title }}" required><br>

    <label for="description">{{ m("description") }}:</label>
    <textarea id="description" name="description" required>{{ protest.description }}</textarea><br>

    <label for="tags">{{ m("tags") }}:</label>
    <input type="text" id="tags" name="tags" value="{{ protest.tags|join(", ") }}"><br>

    <label for="date">{{ m("date") }}:</label>
    <input type="date" id="date" name="date" value="{{ protest.date }}" required><br>

    <label for="time">{{ m("time") }}:</label>
    <input type="time" id="time" name="time" value="{{ protest.time }}" required><br>

    <label for="location">{{ m("location") }}:</label>
    <input type="text" id="location" name="location" value="{{ protest.location }}" required><br>

    <button type="submit">{{ m("save") }}</button>

    <a href="/protests/{{ protest.id }}/delete">
        <button type="button">{{ m("delete") }}</button>
    </a>
</form>
{% endblock %}