{% extends "base.html" %}

{% block title %}{{ m("protests") }}{% endblock %}

{% block content %}
    <form method="get" action="/protests">
        <label for="town">{{ m("town") }}:</label>
        <input type="text" id="town" name="town"><br>

        <label for="date_from">{{ m("date_from") }}:</label>
        <input type="date" id="date_from" name="date_from"><br>

        <label for="tags">{{ m("tags") }}:</label>
        <select id="tags" name="tags" multiple>
            {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select><br>

        <label for="created_by">{{ m("created_by") }}:</label>
        <input type="text" id="created_by" name="created_by"><br>

        <button type="submit">{{ m("search") }}</button>
    </form>

    <section class="box-border">
        {% for protest in protests %}
        <aside>
            {% if protest.image_name.is_some() %}
            <img src="/images/{{ protest.image_name.clone().unwrap() }}" alt="{{ protest.title }}" style="width: 100px;">
            {% endif %}
            <h2>
                <a href="/protests/{{ protest.id }}">{{ protest.title }}</a>
            </h2>
            <!-- Fix and use is_some_and(..) -->
            {% if user_id.unwrap_or_default() == protest.user_id %}
            <a href="/protests/{{ protest.id }}/edit">
                <button type="button">{{ m("edit") }}</button>
            </a>
            {% endif %}
            <p>{{ protest.description }}</p>
            <ul>
                {% for tag in protest.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <div>
                {{m("date")}}:<strong> {{ protest.date }}</strong><br>
                {{m("time")}}:<strong>{{ protest.time }}</strong><br>
                {{m("location")}}:<strong>{{ protest.town.clone().unwrap_or("".to_string()) }}, {{ protest.region.clone().unwrap_or("".to_string()) }}, {{ protest.location }}</strong>
            </div>
        </aside>
        {% endfor %}
    </section>
{% endblock %}
