<!DOCTYPE html>
<html>
<head>
    <title>{{ m("edit_protest") }}</title>
</head>
<body>
<h1>{{ m("edit_protest") }}</h1>
<form action="/protests/{{ protest.id }}/edit" method="post">

    <input type="hidden" name="id" value="{{ protest.id }}">

    <label for="name">{{ m("name") }}:</label>
    <input type="text" id="name" name="name" value="{{ protest.name }}" required><br>

    <label for="description">{{ m("description") }}:</label>
    <textarea id="description" name="description" required>{{ protest.description }}</textarea><br>

    <label for="labels">{{ m("labels") }}:</label>
    <input type="text" id="labels" name="labels" value="{{ protest.labels }}" required><br>

    <label for="town">{{ m("town") }}:</label>
    <input type="text" id="town" name="town" value="{{ protest.town }}" required><br>

    <label for="region">{{ m("region") }}:</label>
    <input type="text" id="region" name="region" value="{{ protest.region }}" required><br>

    <label for="country">{{ m("country") }}:</label>
    <input type="text" id="country" name="country" value="{{ protest.country }}" required><br>

    <label for="date">{{ m("date") }}:</label>
    <input type="text" id="date" name="date" value="{{ protest.date }}" required><br>

    <label for="time">{{ m("time") }}:</label>
    <input type="text" id="time" name="time" value="{{ protest.time }}" required><br>

    <label for="place">{{ m("place") }}:</label>
    <input type="text" id="place" name="place" value="{{ protest.place }}" required><br>

    <button type="submit">{{ m("save") }}</button>

    <a href="/protests/{{ protest.id }}/delete">
        <button type="button">{{ m("delete") }}</button>
    </a>

</form>
</body>
</html>